# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://usuario:senha@cluster0.xxxxx.mongodb.net/faithdb?retryWrites=true&w=majority

# Senha do painel administrativo (defina algo seguro)
ADMIN_PASSWORD=sua_senha_secreta_aqui
